body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

header{
    background-color: #ffffff;
    height: 121px;
    display: flex;
    justify-content: space-between;

}

.wrapper{
    max-width: 1280px;
    margin: auto;
}

.logo-image{
    margin: auto;
    margin-left: 0px;
}

.main-nav{
    margin: auto;
    margin-right: 0px;
}

.nav-element{
    text-decoration: none;
    font-weight: 400;
    color: #808080;
    margin-left: 41px;

}

.nav-element.active{
    color: #4A90E2;
}

.nav-element:visited{
    color: #808080;
}

.nav-element.active:visited{
    color: #4A90E2; 
}

.search-pod{
    text-align: center;
}

.search-pod input{
    width: 65%;
    height: 84px; 
    margin-top: 325px;
    border-radius: 6px;
    border-color: #ffffff;
}

.why-with-us{
    margin-top: 296px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    text-align: center;
    font-size: 40px;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.onecard{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

 .services{
    display: flex;
    justify-content: space-between;
 }

 .services1stline{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
 }

 .services2dline{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
 }

 .services3dline{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
 }

 .requeest-further-information{
    text-align: left;
    margin-left: 370px;
    margin-right: 370px;
 }

 .buttonsumbit{
    display: flex;
 }

.Testimonials{
    text-align: center;
}

.photos{
    display: flex;
    justify-content: space-between;
}

.bottomtext1 p{
    font-size: 22px;
    color: #2C2C2C;
}

.bottomtext2 p{
    font-size: 12px;
    color: #9FA3A7;
}

.looking-to-be-a-part-of-Homify{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.looking-to-be-a-part-of-Homify h3{
    font-size: 40px;
    color: #ffffff;
}

.logo{
    margin-left: 84px;
    color: #C8C8C8;
}

h4{
    font-size: 18px;
    color: #ffffff;
}

.line1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.line2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.line4{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}