body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0;
}

header{
    background-color: #ffffff;
    height: 121px;
    display: flex;
    justify-content: space-between;

}

.wrapper{
    max-width: 1280px;
    margin: auto;
}

.logo-image{
    margin: auto;
    margin-left: 0px;
}

.main-nav{
    margin: auto;
    margin-right: 0px;
}

.nav-element{
    text-decoration: none;
    font-weight: 400;
    color: #808080;
    margin-left: 41px;
}

.nav-element.active{
    color: #4A90E2;
}

.nav-element:visited{
    color: #808080;
}

.nav-element:hover{
    opacity: 0.8;
}

.nav-element.active:visited{
    color: #4A90E2; 
}

.section1{
    background-repeat: no-repeat; 
    background-size: 100% 75%;
}

.search-pod{
    text-align: center;
}

.search-pod input{
    width: 65%;
    height: 84px; 
    margin-top: 325px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.search-input::placeholder {
    color: rgba(128,128,128,0.5);
    font-size: 24px;
    padding-left: 90px;
}

.search-img{
    width: 30px;
    margin-left: -60px;
    margin-bottom: -10px;
}

.why-with-us{
    margin-top: 296px;
    background-color: #ffffff;
    margin-left: 80px;
    margin-right: 80px;
    height: 395px;
}

.why-with-us h3{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    padding-bottom: 60px;
}


.cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.onecard{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.onecard p{
    color: #465366;
    font-size: 18px;
}

.our-services h3{
    text-align: center;
    padding-top: 140px;
    font-size: 40px;
    padding-bottom: 50px;
}

 .services{
    display: flex;
    justify-content: space-between;
    height: 1400px;
 }

 .services-line{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-bottom: 70px;
 }

 .services-line p{
    color: #808080;
    text-align: center;
    font-size: 30px;
 }

 .services2d-line{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
 }

 .services2d-line p{
    color: #808080;
    text-align: center;
    font-size: 30px;
 }

 .cards{
    padding-right: 25px;
 }

 .requeest-further-information{
    text-align: left;
    margin-left: 370px;
    margin-right: 370px;
    height: 1150px;
 }

 .requeest-further-information h3{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    padding-bottom: 40px;
 }

 .fields{
    padding-left: 20%;
    padding-right: 20%;
    
 }

 .input-field{
    width: 100%; 
    height: 52px;
    margin-bottom: 20px;
    padding-left: 10px;
 }

 .input-field.textarea{
    height: auto;
    padding-top: 15px;
 }

 .input-field::placeholder{
    color: #8B8B8B;
    font-size: 16px;
 }

 .input-field1::placeholder{
    padding-left: 10px;
    color: #8B8B8B;
    font-size: 16px;
    padding-top: 10px;
 }

.checkbox{
    margin-top: 30px; 
    line-height: 40px;
}

 .buttonsumbit{
    display: flex;
 }

 .button-sumbit{
    width: 700px; 
    height: 50px; 
    background-color: #4A90E2; 
    border-radius: 4px; 
    border: #4A90E2; 
    color: #ffffff; 
    margin-top: 60px; 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
 }

 .text-please{
    text-align: center;
 }

.testimonials {
    text-align: center;
    height: 1120px;
}

.testimonialsmaintext{
    font-size: 24px;
    line-height: 46px;
    padding-top: 30px;
    padding-bottom: 110px;
}

.testimonials h3{
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    padding-bottom: 80px;
}

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
}

.shink{
    width: 74px;
    z-index: 1;
}

.shink.active{
    width: 117px;
    margin-left: 585px;
}

.shink.active .blue-border{
    width: 100%;
    background-color: #4A90E2;
    height: 4px;
}

.main-border{
    position: absolute;
    height: 4px;
    background-color: #E8E9ED;
    top: 0;
    left: 0;
    width: 100%;
}

.photos{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bottomtext1 p{
    font-size: 22px;
    color: #2C2C2C;
    padding-bottom: 15px;
}

.bottomtext2 p{
    font-size: 12px;
    color: #9FA3A7;
}

.looking-to-be-a-part-of-Homify{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 234px;
}

.looking-to-be-a-part-of-Homify h3{
    font-size: 40px;
    color: #ffffff;
}

.joinus-button{
    width: 320px; 
    height: 84px; 
    background-color: #ffffff; 
    border-radius: 42px; 
    border-color: #ffffff; 
    color: #4A90E2; 
    font-size: 30px; 
    border: none;
}

.logo{
    margin-left: 84px;
    color: #C8C8C8;
}

.footer-photo{
    padding-top: 77px;
    width: 200px;
}

.footer-line1{
    list-style-type: none; 
    line-height: 50px;
}

.footer-line11{
    margin-top: 100px;
    list-style-type: none; 
    line-height: 50px;
}

.footer-line2{
    list-style-type: none; 
    line-height: 30px;
}

h4{
    font-size: 18px;
    color: #ffffff;
}

.line-left h4{
    padding-left: 40px;
}

.footer{
    height: 920px;
    color: #C8C8C8;
}

.line1{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.line1 a{
    text-decoration: none;
    color: #9FA3A7;
}

.footer-line2 a{
    text-decoration: none;
    color: #9FA3A7;
}

.line1 h4{
    padding-top: 30px;
}

.line2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    padding-left: 70px;
}

.line2 p{
    line-height: 24px;
}

.line2 h4{
    padding-top: 30px;
}

.buttons{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-left: 105px;
}

.line4{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    padding-left: 60px;
}

.icons{
    padding-left: 40px;
}

.img{
    padding-left: 550px;
}


















/* Стили для попапа */

.modal{ 
    display: inline;
    width: 320px;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;

    min-height: 100px;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); 

    box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.modal.hidden{
    display: none;
}

.modal-close{
    width: 22px;
    height: 22px;

    border: 0;

    background-color: transparent;

    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 25px;
}

.modal-close::after,
.modal-close::before{
    content: '';

    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #808080;

    top: 10px;
    left: 2px;
}

.modal-close::after{
    transform: rotate(45deg);
}

.modal-close::before{
    transform: rotate(-45deg);
}

.hidden{
    display: none;
}

.b-auth-form .b-popup-h{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: o;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.b-auth-form .b-hold{
    margin-top: 20px;
    margin-bottom: 20px;
}

.b-hold{
    margin: 0px 5px 20px;
}

.b-auth-form .b-hold--add{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
}

.b-auth-recall{
    color: #4A90E2;
}

.login-checkbox{
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}
.login-checkbox input [type='checkbox'] + .checkbox-indicator{
    position: absolute;
    top: 0px;
    left: opx;

    width: 15px;
    height: 15px;

    border: 2px solid black;
}

.login-checkbox
    input[type='checkbox']:checked
    + .checkbox-indicator::before,
.login-checkbox
    input[type='checkbox']:checked
    + .checkbox-indicator::after{
    content: '';

    position: absolute;
    top: 10px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #4A90E2;
    }

    .login-checkbox
        input[type='checkbox']:checked
        +.checkbox-indicator::before{
            transform: rotate(45deg);
        }

        .login-checkbox
        input[type='checkbox']:checked
        +.checkbox-indicator::after{
            transform: rotate(-45deg);
        }